body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.task-manager {
  width: 50%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.add-task input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-task button {
  padding: 10px 20px;
  background-color: #d95d3f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #c04b32;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.completed-task {
  text-decoration: line-through;
  color: gray;
}

.pending-task {
  font-weight: bold;
  color: #333;
}
.markCompleted{
  background-color: #37a772;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;

}